body {
    background: grey;
    margin: 0 auto;
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 15px;
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: min(100% - 0rem, 1200px);
}

#input-field {
    display: flex;
    background-color: white;

    border-style: none;
    border-radius: 0.3rem;
    width: min(100% - 0rem, 800px);
    height: 150px;

    margin-bottom: 40px;
    
}

#virtual-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 830px;
    // height: 400px;
    background: rgb(202, 163, 163);
    border-radius: 0.6rem;
}

// #row1 {
//     display: flex;
//     width: min(100% - 0rem, 800px);
//     height: 100px;
//     background-color: wheat;
// }

// .key-row {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     background-color: wheat;
// }

#key-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: min(100% - 0rem, 1rem);
    // height: 1rem;
    margin: 5px;
    
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 0.3em;

    padding: 1rem;
}

@keyframes colorSwitch {
    from {
        background-color: rgb(83, 83, 83);
    }
    to {
        background-color: rgb(118, 249, 67);
    }
}

.loader {
    animation-name: colorSwitch;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}