body {
    background: grey;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5rem;
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: min(100% - 0rem, 1200px);
}

#input-field {
    position: relative;
    top: 0;
    resize: both; 
    overflow: auto;

    background-color: white;

    border-style: none;
    border-radius: 0.3rem;
    width: min(100% - 0rem, 800px);
    height: 20vh;

    margin-bottom: 40px;
    
}

#virtual-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 850px;
    padding: 1rem;
    background: rgb(202, 163, 163);
    border-radius: 0.6rem;

    & div:nth-child(14) {
        background-color: black;
        width: 3rem;
    }
    & div:nth-child(15) {
        background-color: black;
        width: 3rem;
    }
    & div:nth-child(28) {
        background-color: black;
    }
    & div:nth-child(29) {
        background-color: black;
        width: 6.5rem;
    }
    & div:nth-child(42) {
        background-color: black;
        width: 3rem;
    }
    & div:nth-child(n+54) {
        background-color: black;
        width: 1rem;
    }
    & div:nth-child(55) {
        width: 1rem;
    }
    & div:nth-child(60) {
        width: 17.5rem;
    }
    & div:nth-child(n+62) {
        width: 1rem;
    }
}


#key-btn, #key-btn-ru {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: min(100% - 0rem, 1rem);
    // height: 1rem;
    margin: 5px;
    
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 0.3em;

    padding: 1rem;
}

// animation

@keyframes colorSwitch {
    from {
        background-color: rgb(83, 83, 83);
    }
    to {
        background-color: rgb(118, 249, 67);
    }
}

.loader {
    animation-name: colorSwitch;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}